.logo {
  width: 200px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;

}

.space-betwen {
  justify-content: space-between;
}

label {}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h4 {
  margin: 5px 0px;
}

.text-center {
  text-align: center;
}

.button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F4E8D3;
  border-style: solid;
  border-radius: 4px;
  border-width: 3px;
  border-color: #67BA80;
  margin: 5px;
  padding: 5px;
}

.button:hover {
  background-color: wheat;
  box-shadow: 0px 0px 5px inset greenyellow;
}

.partner-list {
  display: flex;
  flex-direction: column;

}

.bold {
  font-weight: bold;
}

.card {
  padding: 5px 20px;
  min-width: 400px;
  width: 500px;
  max-width: 800px;
}

.frame {
  border-style: solid;
  border-radius: 4px;
  border-width: 3px;
  border-color: #67BA80;
  padding: 5px;
}

form>label {
  margin-top: 5px;
}

input,
select,
textarea {
  background-color: #F4E8D3;
  border-color: #67BA80;
  border-style: solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  min-width: 400px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  text-align: center;
  font-weight: 500;
}

textarea {
  resize: none
}

input:invalid {
  border-color: crimson;
  border-radius: 3px;
  border-width: 3px;
}

.big-text-box {
  height: 8em;
}

.back-button {
  align-self
}